# Ignoriere sensible Umgebungsdateien
.env
backend/.env

# Node.js Abhängigkeiten
node_modules/
frontend/node_modules/
backend/node_modules/

# Build-Output
dist/
frontend/dist/

# System-Dateien
*.log
.DS_Store

history
ChatGPT*